__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

venv/
env/
.env
.venv/
ENV/
Pipfile.lock

.idea/
.vscode/
*.code-workspace

.DS_Store
Thumbs.db

*.log
*.pot
*.pyc
*.pkl
*.sqlite3

.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

data/
uploads/
media/
__temp__/
.tmp/

.env
.env.local
.env.prod
.env.dev

*.minio.sys/
minio_data/
minio/
minio.exe
*.db

railway.json

.cache/
.mypy_cache/
__debug__/
